<div id="about" class="bg-gray-100 py-12">
    <div class="max-w-7xl mx-auto px-6 grid grid-cols-1 md:grid-cols-2 items-center gap-8">
      <div class="flex justify-center">
        <img
          src="https://cdn.discordapp.com/attachments/1301165198815789157/1333093022673670236/default_friend_mc042x.png?ex=6797a320&is=679651a0&hm=5724d0f124b32c41b6194d862fe0dd4531cbeff85729c7e7ead42043d47392f9&"
          alt="Profile Picture"
          class="rounded-full shadow-lg w-64 h-64 object-cover"
        />
      </div>
  
      <div class="text-center md:text-left">
        <h2 class="text-3xl font-bold text-gray-800 mb-6">About Me</h2>
        <p class="text-lg text-gray-600">
          ผมเป็นนักศึกษาที่มีความสนใจเกี่ยวกับเทคโนโลยีสารสนเทศ และมุ่งมั่นที่จะพัฒนาทักษะในสายงานนี้เพื่อสร้างสรรค์สิ่งใหม่ ๆ
        </p>
      </div>
    </div>
  </div>
  