<div class="bg-gray-800 text-white py-4">
    <div class="container mx-auto grid grid-cols-1 sm:grid-cols-3 gap-4 text-center sm:text-left text-sm">
        <!-- Quick Links -->
        <div>
            <h2 class="text-base font-bold mb-2">Quick Links</h2>
            <ul>
                <li><a href="/src/index.html" class="hover:underline">Home</a></li>
                <li><a href="about.html" class="hover:underline">About</a></li>
                <li><a href="project.html" class="hover:underline">Projects</a></li>
                <li><a href="contact.html" class="hover:underline">Contact</a></li>
            </ul>
        </div>
        <!-- Social Media Links -->
        <div>
            <h2 class="text-base font-bold mb-2">Follow Us</h2>
            <ul class="space-y-1">
                <li><a href="https://www.facebook.com/" class="hover:underline">Facebook</a></li>
                <li><a href="https://x.com/" class="hover:underline">Twitter</a></li>
                <li><a href="https://www.instagram.com/?hl=en" class="hover:underline">Instagram</a></li>
            </ul>
        </div>
        <!-- Contact Information -->
        <div>
            <h2 class="text-base font-bold mb-2">Contact Info</h2>
            <p>Phone: 066160244</p>
            <p>Email: 66160264@go.buu.ac.th</p>
            <p>Address: Main Street Chonburi </p>
        </div>
    </div>
    <div class="mt-4 text-center text-xs border-t border-gray-700 pt-2">
        © 2025 My Portfolio. All rights reserved.
    </div>
</div>